.App {
  text-align: center;
  min-height: 100vh;
  color: white;
  background-color: black;
  box-sizing: border-box;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  border: 1px solid gray;
  margin-bottom: 10px;
}

.card-content {
  padding-top: 15px;
  padding-bottom: 15px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: 1px solid white;  
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: fit-content;
  font-size: 18px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
